.lc_FrameSelect {

}

/* ------------------------------------------------------------------------------------------------------------------ */
.lc_FrameListSort {

}
.lc_FrameListSort > fieldset > div {
   display: inline-block;
   font-size: 10pt;
   text-align: center;
}
.lc_FrameListSort > fieldset > div > select {
   display: block;
   width: 110px;
   font-size: 8pt;
   text-align: center;
}
.lc_FrameListSort > fieldset > label#lblArtSearch {
   margin-left: 50px;
}
.lc_FrameListSort > fieldset > input#txtArtSearch {
    width: 300px;
    font-size: 10pt;
}


/* ------------------------------------------------------------------------------------------------------------------ */
.lc_FrameList {
   list-style-type: none;
   margin: 0;
   height: 100px;
   overflow: auto;
   border: 2px solid darkgray;
}
.lc_FrameList > li:nth-child(odd) {
   background: left center #dfdfdf url("http://www.kirupa.com/images/blue_tongue_icon.png") no-repeat;
}
.lc_FrameList > li:nth-child(even) {
   background: left center #fff url("http://www.kirupa.com/images/gray_smiley.png") no-repeat;
}
.lc_FrameList > li > * {
   display: inline;     /* возможно потребуется заменить на [inline-table] */
}
.lc_FrameList > li > img {
   height: 32px;
   width: 100px;
}