.lc_PaspSelect {

}
.lc_PaspSelect > section {
   display: inline-block;
   vertical-align: middle;
}


/* ------------------------------------------------------------------------------------------------------------------ */
.lc_PaspListFS {
   width: 190px;
}
.lc_PaspListFS > fieldset {
   padding: 0;
   font-size: 10pt;
}
.lc_PaspListFS > fieldset > div {
   display: inline-block;
   vertical-align: middle;
   float: right;
   font-size: 10pt;
}
.lc_PaspListFS > fieldset > div > select {
   display: inline-block;
   vertical-align: middle;
   width: 110px;
   font-size: 8pt;
   text-align: center;
}
.lc_PaspListFS > fieldset > label#lblArtSearch {
   display: inline-block;
   vertical-align: middle;
   font-size: 10pt;
   margin-left: 10px;
}
.lc_PaspListFS > fieldset > input#txtArtSearch {
   width: 100px;
   display: inline-block;
   vertical-align: middle;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.lc_PaspList {

}
.lc_PaspList > ul {
   display: block;
   height: 100px;
   width: 250px;
   padding: 5px;
   border: 2px solid darkgray;
   overflow-y: auto;
   list-style-type: none;
   margin: 0;
}
/* нельзя отобрадать как таблицу с ячейками поскольку img должно быть блочным. Переделать так же для рамок */
.lc_PaspList > ul > li {
   height: 32px;
}
.lc_PaspList > ul > li > img {
   display: inline-block;
   vertical-align: middle;
   height: 24px;
   width: 64px;
}
.lc_PaspList >  ul > li > span {
   display: inline-block;
   vertical-align: middle;
   margin: auto 3px;
   font-size: 10pt;

}

/* ------------------------------------------------------------------------------------------------------------------ */
.container {
   /*width: 180px;*/
   text-align: center;
}
.container .dropdown {
   text-align: left;
   float: left;
}

.dropdown {
   width: 200px;
   position: relative;
   height: 27px;
   background: #363d47;
   border: 1px solid;
   border-color: #272c33 #242930 #22272d;
   border-radius: 3px;
   display: inline-block;
   vertical-align: baseline;
   zoom: 1;
   *display: inline;
   *vertical-align: auto;
   background-image: -webkit-linear-gradient(top, #4a5361, #363d47);
   background-image: -moz-linear-gradient(top, #4a5361, #363d47);
   background-image: -o-linear-gradient(top, #4a5361, #363d47);
   background-image: linear-gradient(to bottom, #4a5361, #363d47);
   -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
   box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.dropdown > label {
   width: 140px;
   float: left;
   position: relative;
   height: 27px;
   line-height: 26px;
   padding: 0 12px;
   color: #ecf0f1;
   border-radius: 2px 0 0 2px;
   text-transform: uppercase;
   font-size: 11px;
   font-weight: bold;

   text-shadow: 0 1px black;
}
.dropdown > label:before {
   content: '';
   display: inline-block;
   vertical-align: -3px;
   width: 25px;
   height: 14px;
   margin-right: 10px;
   background: url("../img/icon/sel_pasp_layer.svg") 7px 0 no-repeat;

}
.dropdown > label:hover {
   background: #3f4753;
   background: rgba(255, 255, 255, 0.04);
}
.dropdown > label:active {
   background: #343b44;
}
.dropdown div {
   float: left;
   height: 27px;
   width: 26px;
   background: url("../img/icon/toggle.png") 13px 9px no-repeat;
   border-left: 1px solid #292e36;
   border-color: rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.08);
   box-shadow: inset 1px 0 rgba(255, 255, 255, 0.08);
}
.dropdown div:hover {
   -webkit-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.04), inset 26px 26px rgba(0, 0, 0, 0.1);
   box-shadow: inset 1px 0 rgba(255, 255, 255, 0.04), inset 26px 26px rgba(0, 0, 0, 0.1);
}
.dropdown div:hover ul {
   display: block;
}
.dropdown ul {
   display: none;
   position: absolute;
   top: 27px;
   /*top: 10px;*/
   left: 1px;
   right: 1px;
   background: #272c33;
   border: 1px solid #20242a;
   border-radius: 0 0 3px 3px;
   -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.dropdown ul li {
   display: block;
}
.dropdown ul li:last-child a {
   border-radius: 0 0 3px 3px;
}
.dropdown ul a {
   display: block;
   line-height: 28px;
   padding: 0 10px 1px;
   color: #b2b8c4;
   border-top: 1px solid transparent;

   font-size: 12px;
   text-decoration: none;
   text-shadow: 0 1px black;
}
.dropdown ul a:hover {
   color: white;
   text-shadow: 0 1px rgba(0, 0, 0, 0.7);
   background: #426ebf;
   border-color: #78aad5;
   background-image: -webkit-linear-gradient(top, #5e9ace, #416cb8);
   background-image: -moz-linear-gradient(top, #5e9ace, #416cb8);
   background-image: -o-linear-gradient(top, #5e9ace, #416cb8);
   background-image: linear-gradient(to bottom, #5e9ace, #416cb8);
}

.lc_PaspSheetInfo {
   height: 150px;
}
.lc_PaspSheetInfo > div {

}
.lc_PaspSheetInfo > div > span {
   display: inline-block;
   vertical-align: middle;
   font-size: 10pt;
}
.lc_PaspSheetInfo > div > input[type="text"] {
   display: inline-block;
   vertical-align: middle;
   width: 50px;
}
.lc_PaspSheetInfo > div > img {
   display: inline-block;
   vertical-align: middle;
   height: 24px;
   width: 64px;
}
.lc_PaspSheetInfo > button {
   width: 100%;
   height: 35px;
   /*padding:50px 10px;*/     /* выравнивание объектов внутри кнопки */
   background: #78aad5 url("../img/icon/add_pasp_layer.svg") 20px center no-repeat;
   border: none;
}