.lc_OrderingStage {

}
#cw_OrderingStage > section#l_SelectMeasurement > fieldset {
   display: inline-block;
   width: 150px;
}
.lc_OrderingStage > section {
   display: inline-block;
   width: 100%;
}
.lc_SOParameterL {      /* Source Object Size Layer - область ввода размеров исходного объекта */
   position: absolute;
   top: 50px;
   left: 0;
}
.lc_ProductOptionsL {   /* Source Object Options Layer - область ввода параметров оформления исходного объекта */
   position: absolute;
   top: 155px;
   left: 0;
   bottom: 5px;
   overflow-y: auto;
}

.lc_SOParameter {
   display: inline-block;
   vertical-align: middle;
   width: 530px;
}
.lc_SOParameter > div {
   float: right;
}
.lc_SOParameter > div > output {
   margin: auto 0.9em auto 0.1em;
}
.lc_SOParameterL > h3 {
   display: inline-block;
   vertical-align: middle;
   margin: auto 1.0em;

}

.lc_DecorationTemplate {
   position: absolute;
   top: 8px;
   right: 3px;
   z-index: 5;
}